<h1 style="margin: 20px 0px 0px 40px;">Nueva Venta</h1>
<mat-card style="margin: 20px 40px 40px 40px;">
  <mat-card-title style="margin: 20px;">
    <h2>Cliente</h2>
  </mat-card-title>

  <mat-card-content class="cliente-card-content">
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" style="width: 100%;
        height: 50px;" (click)="AgregarCliente()" [disabled]="clienteSeleccionado !== null">
          <mat-icon mat-list-icon>add</mat-icon>
          Agregar
        </button>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="3">
        <div
          style="width: 100%; height: 50px; align-content: space-around; margin-left: 30px; padding-left: 30px; background-color: #cccccc; border-radius: 5px 0px 0px 5px;">
          <mat-label>{{ nombreCompletoCliente || 'Seleccione un Cliente'}}</mat-label>
        </div>
        <div
          style="background-color: #cccccc; margin-right: 30px; padding-right: 15px; height: 50px; border-radius: 0px 5px 5px 0px;">
          <button mat-icon-button color="warn" class="add-btn" (click)="limpiarCliente()"
            [disabled]="!clienteSeleccionado">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

  <br>
  <mat-divider></mat-divider>

  <mat-card-title style="margin: 20px;">
    <h2>Venta</h2>
  </mat-card-title>

  <mat-card-content class="producto-card-content">
    <form [formGroup]="formularioProductoVenta" (ngSubmit)="agregarProducto()">

      <mat-form-field class="full-width" appearance="fill" style="width: 50%;">
        <mat-label>Método de pago</mat-label>
        <mat-select formControlName="tipoPago" [(value)]="tipoPago">
          <mat-option value="Efectivo">Efectivo</mat-option>
          <mat-option value="Tarjeta">Tarjeta</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-card-title style="margin: 20px 20px 20px 10px;">
        <h2>Producto</h2>
      </mat-card-title>

      <mat-grid-list cols="12" rowHeight="80px">

        <mat-grid-tile [colspan]="6">
          <mat-form-field class="full-width" appearance="fill" style="width: 100%;">
            <mat-label>Selecciona un producto</mat-label>
            <mat-select formControlName="producto">
              <mat-option *ngFor="let item of listaProductos" [value]="item.id">
                {{ item.nombre + ' ' + item.capacidad + ' ' + item.unidad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3">
          <mat-form-field class="full-width" appearance="fill" style="width: 80%; margin-left: 15px;">
            <mat-label>Cantidad</mat-label>
            <input formControlName="cantidad" matInput type="number" min="1">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" style="transform: translateY(-10px);">
          <button mat-raised-button color="primary" style="width: 80%; height: 73%;"
            [disabled]="formularioProductoVenta.invalid">
            <mat-icon mat-list-icon>add</mat-icon>
            Agregar
          </button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="12" rowHeight="80px">

        <mat-grid-tile [colspan]="3">
          <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-right: 15px;">
            <mat-label>Tipo de venta</mat-label>
            <mat-select formControlName="tipoVenta" [(value)]="tipoVenta"
              (selectionChange)="onTipoVentaChange($event.value)">
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Refill">Refill</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3">
          <mat-form-field class="full-width" appearance="fill" style="width: 100%; margin-left: 15px;">
            <mat-label>Tipo de estado</mat-label>
            <mat-select formControlName="tipoEstado" [(value)]="tipoEstado" [disabled]="tipoVenta === 'Refill'">
              <mat-option *ngIf="tipoVenta === 'Normal'" value="Lleno">Lleno</mat-option>
              <mat-option *ngIf="tipoVenta === 'Normal'" value="Vacio">Vacío</mat-option>
              <mat-option *ngIf="tipoVenta === 'Refill'" value="Lleno" selected>Lleno</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3"></mat-grid-tile>

        <mat-grid-tile [colspan]="3">
          <button mat-raised-button color="accent" style="width: 80%; height: 50px;">
            Total: S/. {{totalPagar.toFixed(2)}}
          </button>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list mat-grid-list cols="12" rowHeight="80px">
        <mat-grid-tile [colspan]="3" *ngIf="tipoEstado === 'Vacio' || tipoVenta === 'Refill'">
          <mat-form-field class="full-width" appearance="fill" style="width: 100%;">
            <mat-label>Nuevo Precio </mat-label>
            <input formControlName="precioAdicional" matInput type="number" min="1">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

    </form>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataListaProductosVenta">

        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef>Producto</th>
          <td mat-cell *matCellDef="let element">
            {{ (element.nombreProducto || '') + ' ' + (element.capacidadProducto || '') + ' ' + (element.unidadProducto
            || '') }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef>Cantidad</th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoVenta">
          <th mat-header-cell *matHeaderCellDef>Tipo Venta</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoVenta}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element"> {{element.tipoEstado}} </td>
        </ng-container>

        <ng-container matColumnDef="precioUnitario">
          <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
          <td mat-cell *matCellDef="let element"> {{element.precioUnitario.toFixed(2)}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element"> {{element.total.toFixed(2)}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="removerProducto(element)" class="add-btn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns:columnasTabla;"></tr>

        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7" style="padding: 1rem; text-align: center;">No hay datos que coincidan con la búsqueda "{{input.value}}"</td>
        </tr> -->

      </table>
    </div>

    <div style="text-align: right; margin-top: 10px;">
      <button
      mat-raised-button
      color="primary"
      style="height: 50px;"
      (click)="registrarVenta()"
      [disabled]="!bloquearBotonRegistrar">
      Registrar venta
    </button>
    </div>


  </mat-card-content>

</mat-card>
