.item {
  display: flex;
  align-items: center;
  position: relative;
}

.icono {
  margin-right: 15px; /* Espacio entre el icono y el texto */
}

.texto {
  display: inline-flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto; /* Aumenta para ocupar todo el espacio disponible */
}

.user-info {
  margin-right: 8px;
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.submenu {
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajusta el ancho según sea necesario */
  display: none; /* Inicialmente oculto */
}

.submenu.show {
  display: block; /* Mostrar submenú cuando se active */
}


.submenu-item {
  padding: 10px 20px 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submenu-item:hover {
  background-color: #ddd;
}

.submenu-item.active {
  background-color: #d0d0d0;
}

