.item {
  display: flex;
  align-items: center;
}

.icono {
  margin-right: 15px; /* Espacio entre el icono y el texto */
}

.texto {
  display: inline-flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto; /* Aumenta para ocupar todo el espacio disponible */
}

.user-info {
  margin-right: 8px;
  font-size: 16px;
}

.container {
  text-align: center;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

/* .submenu {
  background-color: #e8e8e8;
} */

.submenu-item {
  padding: 10px 20px 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.submenu-item:hover {
  background-color: #ddd;
}

.submenu-item.active {
  background-color: #d0d0d0;
}

